.App-navbar {

}

.App-navbar-brand {
    height: 32px;
    width: 32px;
}

.App-navbar-links {
    justify-content: flex-end;
}

#navbar {
    background-color: var(--bkg-banner);
}

.nav-text {
    color: var(--text-color);

}