.App-main {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url('../../assets/images/Book\ pages.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
}