.App-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0px 10px;
    grid-template-areas: 
    "book-list App-search-filter";
}

.App-search-book-list {
    display: flex;
    flex-direction: column;
}
