.App-header {
    background-color: var(--header-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: var(--header-foreground);
}
