.App-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--footer-background);
  color: var(--text-color);
  font-size: 14px;
}

.App-footer>div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.App-footer>div>strong {
  padding: 10px;
}

.App-footer>div>.social-icon {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
