.App-footer {
    background-color: rgb(234, 199, 199);
  font-size: 14px;
  text-align: center;
}

.copyright{
  padding-bottom: 15px;
}

.row {
  display: flex;
    height: 150px;
    align-content: center;
}